<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-model</title>
</head>
<body>
<div id="app">
    <div>
<!--        单选的时候：不能去定义连个变量取绑定单选input-->
        <label>性别：</label>{{sex}}
<!--        1代表男 2代表女-->
        <input type="radio" name="" value="1" v-model="sex" />男
        <input type="radio" name="" value="2" v-model="sex" />女
    </div>
    <div>
        <label>爱好：</label>{{hobby}}
<!--        当我们绑定复选框的时候，我们绑定的变量需要一个数组类型-->
        <input type="checkbox" name="" value="足球" v-model="hobby"/>足球
        <input type="checkbox" name="" value="篮球" v-model="hobby"/>篮球
        <input type="checkbox" name="" value="橄榄球" v-model="hobby"/>橄榄球
    </div>
</div>
<script src="../vue.js"></script>
<script>
    new Vue({
        el:'#app',
        data(){
            return {
                sex:'1',
                hobby:[]
            }
        }
    })
</script>

</body>
</html>